
    body {
      margin: 0%;
        
    }


    .menu .home a:hover, .menu .home .active {
        background-color: #666 ;
        height: auto;
    }
    .menu .home .right .icon {
        display: none;
    }

    .menu .home a {
        text-decoration: none;
        float: left;
            
        height: auto;
        width: auto;
        display: flex;
        padding: 10px;
        color: #355c7d;  
        margin-right: 20px;
        text-align: center;
        border-left: 1px solid gray;

      }

    .menu .home {
        overflow: hidden;
        position: fixed;
        width: 100%;
        border-bottom: 1px solid gray;
        padding: 5px;
        background-color: whitesmoke;
        z-index: 1;
    
     }

    .menu .home .right{
        float: right; 
    }
   

    .midsection{
        width: auto;
        height: 800px;
        background-image: url("myaukOo.jpg");
    }
    .midsection .column{
        float: left;
        width: 50%;
        height: 50%;
    
    } 

    .midsection .column:after{
        clear: both;
        content: "";
        display: table;
    }

    @media screen and (max-width:600px) {
        .midsection .column{
            width: 100%;
        }
    }

 
  @media screen and (max-width: 600px) {
    .menu .home .right a:not(:first-child) {display: none;}
    .menu .home .right a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .menu .home .right.responsive {position: relative;}
    .menu .home .right.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu .home .right.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
  
}
  
/*Skill Section */
 .flex-item-left{
      flex: 25%;
      padding: 10px;
      float: left;
      background-color: azure;
           
  }
  
  .flex-item-right{
    flex: 25%;
    float: right;
    padding: 10px;
    background-color: azure;
    
}


@media  (max-width:800px){
    .flexcontainer{
        flex-direction: column;
    }   
}
/*Contact Form CSS */
.forms {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 50px;
    width: 700px;
   
    margin-left: 200px;
}

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    align-items: center;
    align-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: both;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /*Animation of text  */

  .textanimation{
      width: 100%;
      text-align: center;
     margin-top: 150px;     
  }  

  .textanimation h1:nth-child(1){
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      color: #355c7d;
      white-space: nowrap;
      overflow: hidden;
      animation: typeofAnimation 2s steps(40,end) forwards;
      width: 200px;
      margin: 0 0 0 35%;
     
  }

  .textanimation h1:nth-child(2){
      font-family: 'Times New Roman', Times, serif;
       margin: auto;
       opacity: 0;
       width: 430px;
       margin: 0 auto auto auto;
       color: #355c7d;
       background-image: linear-gradient(to right, #f8b195, #f67280);
       -webkit-background-clip: text;
        text-align: center;  
       -webkit-text-fill-color: transparent;
       overflow: hidden;
       animation: typeofAnimation2 2.2s steps(40,end) 2s forwards,blink .5s step-end infinite alternate;
  }
  
  @keyframes typeofAnimation {
    0% {
        width: 0;
      }
      1%, 99%{
        border-right: 1px solid orange;
      }
      100%{
        border-right: none;
      }
    }
    
    @keyframes typeofAnimation2 {
        0% {
            background-position: 0 0;
            opacity: 0;
            width: 0;
        }    
        1% {
            background-position: 0 0;
            opacity:1;
            border-right: 1px solid orange;
          
        }
        50%{
            opacity: 1;
            background-position: 150px 0;
            border-right: 1px solid orange;
        }
        100% {
            opacity: 1;
            background-position: 200px 0;
            border-right: 1px solid orange;
        }
    }
    @keyframes blink {
        20% {
          border-color: transparent;
        }
      }
      

      /*Form validation */ 
      #errFname, #errLname, #errCountry, #errEmail,#errFnametext,#errLnametext,#errEmailtext {
        display: none;
        color: red;
      }