

.footer {
    padding: 20px;
    border-top: 10px solid gray;
    display: block;
    position: relative;
    overflow: hidden;
}
.footer a{
    text-decoration: none;

}

.footer .item-right{
    float: right;
    color: red;
    text-align: center;
    padding-top: 10px;
    margin:20px;
}
.footer .item-left{
    float: left;
    color: red;
    text-align: center;
    padding-top: 10px;
    margin:20px;
}

