

body{
    
    height: 500px;
    width: 100px;
    background-color: green;
}

   div{
    position: relative;
    display: inline-block;
    text-align-last: center;
    padding-left: 300px;
        
}
  form{
    
    padding-left: 200px;
  }

@media screen and (max-width: 600px) {
    div{
      float: none;
      width: 50%;
    }
  }